
.travel-deal{
	background: #eceff1;
	padding: 0 0.75rem;
	/*letter-spacing: 0.075rem;*/
}
.travel-deal .travel-deal-des{
	margin-bottom: 1.4rem;
}
.travel-deal h2{
	color: #343434;
	font-size: 0.8rem;
	text-align: center;
	padding: 0.7rem 0 0.5rem 0;
}
.travel-deal p{
	text-indent: 2em;
	color: #8f9091;
	font-size: 0.55rem;
	line-height: 1.05rem;
}
.travel-deal h3{
	font-size: 0.7rem;
	height: 1.6rem;
	line-height: 1.6rem;
}