
.travel-pay-time {
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    color: #fff;
    background: -webkit-linear-gradient(left, #01B6D7, #00AD69);
    background: -o-linear-gradient(right, #01B6D7, #00AD69);
    background: -moz-linear-gradient(right, #01B6D7, #00AD69);
    background: linear-gradient(to right, #01B6D7, #00AD69);
}

body {
    background-color: #f5f5f5;
}

.travel-pay-show {
    display: flex;
}

.iconfont-failicon {
    font-size: 2.1rem;
    color: red;
}

.travel-pay-show .iconfont {
    color: #00AD69;
    font-size: 0.9rem;
    margin-right: 0.2rem;
}

.travel-user-name {
    padding: 0 0.75rem;
    height: 2.5rem;
    background: #fff;
    line-height: 2.5rem;
    font-size: 0.7rem;
}

.travel-user-name > p {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #333333;
    font-size: .8rem;
    text-indent: 1rem;

}

.travel-user-name-price {
    font-size: 1rem;
}

.travel-pay-show {
    padding: 0 0.75rem;
    height: 1.9rem;
    line-height: 1.9rem;
    font-size: 0.7rem;
}

.travel-pay-show span:last-child {
    font-weight: bold;
    color: #266577;
}

.travel-pay-card {
    padding: 0 0.75rem;
    background: #f5f5f5;

}

.travel-pay-card ul li {
    height: 3rem;
    line-height: 3rem;
    display: flex;
    /*justify-content: space-between;*/
    font-size: .8rem;
}

.travel-pay-card ul li:first-child {
    background: #FFFFFF;
    margin-top: .75rem;
    height: 3rem;
}

.travel-pay-card ul li > div:first-child {
    height: 100%;
    position: relative;
    width: 2.5rem;
}

.travel-pay-card ul li > div:last-child > input {
    width: 0.7rem;
    height: 0.7rem;
}

.travel-pay-card ul li > div:last-child > span {
    display: inline-block;
    /*width:0.7rem;*/
    /*height:0.7rem;*/
    font-size: .8rem;
    color: #333333;
    margin-left: .5rem;
}

.travel-pay-card-des {
    flex: 1;
    font-size: 0.7rem;
    color: #2B3E44;
}

.travel-pay-card ul li > div:first-child > img {
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: .75rem;
    bottom: 0;
    margin: auto;
}

.travel-icon-wrap .iconfont {
    color: #00AD69;
}

#chengIcon {
    font-size: 0.3rem;
}

.showMoney {
    display: inline-block;
    float: right;
    margin-left: 8.5rem;
    color: #e83400;
}

/*遮罩层*/
.pays-container {
    width: 100%;
    height: 100%;
    display: none;
}

.pays-container {
    /*background: #000;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    z-index: 50;
}

.pays-inner {
    width: 60%;
    height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border: 1px solid #B7B7B7;
    border-radius: 0.2rem;
    padding: 1rem;
    z-index: 100;
    poacity: 1;
}

.pays-title {
    width: 100%;
    height: 6rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.pays-title > div:first-child {
    margin-bottom: 0.2rem;
    height: 2.5rem;
}

.pays-title img {
    width: 3.5rem;
    height: 3rem;
}

.pays-title > div:last-child {
    /*height:2rem;*/
    line-height: 1.2rem;
    font-size: 0.75rem;
    color: #e1281c;
}

.pays-content {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
}

.pays-content > div {
    flex: 1;
    text-align: center;
    color: #fff;
    line-height: 2rem;
    height: 100%;
    border-radius: 0.2rem;
}

.pays-content > div:first-child {
    background: -webkit-linear-gradient(left top, #00b0df, #00ad64);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #00b0df, #00ad64);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #00b0df, #00ad64);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #00b0df, #00ad64);
    /* 标准的语法 */
    margin-right: 0.2rem;
}

.pays-content > div:last-child {
    background: -webkit-linear-gradient(left top, #f06e00, #e1281c);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #f06e00, #e1281c);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #f06e00, #e1281c);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #f06e00, #e1281c);
    margin-left: 0.2rem;
}

.travel-pay-card ul li>div:last-child>span:last-child {
    color: #999999;
}


.text_last {
    margin-left: 4rem !important;
    color: #999999 !important;
}

.withdraw {
    margin-left: 1rem;
}

