<!DOCTYPE html>
<html lang="en" ng-app="ngScope">

<head>
    <meta charset="UTF-8">
    <title>上传身份证</title>
    <link rel="stylesheet" href="../../static/css/travel/travel_upload_cdCard.css">
    @@include('../../templates/head.inc')
</head>

<body ng-controller="ngController">
<!--<header class="travel-head-nav register-head">-->
    <!--<h1>上传身份证</h1>-->
    <!--<i class="iconfont-back iconfont " id="register-back" ng-click='backOrder();'>&#xe603;</i>-->
<!--</header>-->
<section class="travel_upload addHeight" ng-click="uploadCd()">
    <p class="iconfont">&#xe627;</p>
</section>


<section class="travel_upload travel_preview">
    <span ng-hide="haveImg" ng-bind="preview"></span>
    <img ng-hide="!haveImg" id="imgShow" src="" alt="">
</section>


<section class="travel_submit" ng-click="submitCdCard()" ng-class="{'unSubmit':!canSubmit}" ng-model="submitText">
    {{submitText}}
</section>


<script src='../../static/js/travel/travel_upload_cdCard.js'></script>
</body>

</html>
